<% layout('./layouts/boilerplate') -%>
<section class="ui basic segment">
    <h1 class="ui header"><%= campGround.title %></h1>
    <div class="ui divider"></div>
    <h4 class="ui header"><%= campGround.location %></h4>
</section>
<section class="ui very relaxed grid basic segment">
    <div class="eleven wide column">
        <img class="ui fluid image" src="<%= campGround.image %>" alt="">
    </div>
    <div class="five wide column">
        <div class="row campground_details_row">
            <%= campGround.description %>
        </div>
        <div class="ui divider"></div>
        <div class="row campground_details_row">
            UST <%= campGround.price %>.00 per night
        </div>
        <div class="ui divider"></div>
        <div class="row ui buttons campground_details_row">
            <form method="get" action="/campGround/<%= campGround._id %>/edit">
                <button class="ui labeled icon orange button">
                    <i class="pen nib icon"></i>
                    Edit
                </button>
            </form>
            <div class="or" data-text="or"></div>
            <form method="post" action="/campGround/<%= campGround._id %>/?_m=DELETE">
                <button class=" ui right labeled icon red button">
                    <i class="trash icon"></i>
                    Delete
                </button>
            </form>
        </div>
    </div>
</section>