<% layout('./layouts/boilerplate') -%>
<section class="ui basic segment">
    <h1 class="ui header">Campgrounds</h1>
</section>
<div class="ui divider"></div>
<section class="ui inverted vertical masthead center aligned segment">
    <!-- <div id="map" style="width: 100%; height: 500px"></div> -->
    <div id="map" class="clustermap"></div>
</section>
<section class="ui basic segment">
    <!-- <ul>
        <% for( let cgs of campGrounds ) { %>
        <li><a href="/campground/<%= cgs.id %>"><%= cgs.title %></a></li>
        <% } %>
    </ul> -->
    <div class="ui four stackable cards">
        <% for( let cgs of campGrounds ) { %>
        <div class="ui card">
            <a class="image" href="/campgrounds/<%= cgs._id %>">
                <img src="<%= cgs.images[0].url %>">
            </a>
            <div class="content">
                <a class="header" href="/campgrounds/<%= cgs._id %>">
                    <%= cgs.title %>
                </a>
                <div class="meta">
                    <span><%= cgs.location %></span>
                </div>
                <div class="description">
                    <%= cgs.description %>
                </div>
            </div>
            <div class="extra content">
                <span>UST <%= cgs.price %>.00 per night</span>
            </div>
        </div>
        <% } %>
    </div>
</section>
<script>
    const MAPBOX_TOKEN = '<%- process.env.MAPBOX_TOKEN %>';
    const allCampgrounds = {
        features: <%- JSON.stringify(campGrounds) %>
        }
</script>
<script src="/js/clusterMap.js"></script>