<% layout('./layouts/boilerplate') -%>
<section class="ui basic segment">
    <h1 class="ui header"><%= campGround.title %></h1>
    <div class="ui divider"></div>
    <h4 class="ui header"><%= campGround.location %></h4>
    <h5 class="ui header">Submitted by: <%= campGround.author.username %></h5>
</section>
<section class="ui very relaxed grid basic segment">
    <div class="eleven wide column">
        <img class="ui fluid image" src="<%= campGround.image %>" alt="">
        <div class="ui divider"></div>
        <div class="row campground_details_row">
            <h3>Reviews</h3>
            <% campGround['reviews'].forEach(review => { %>
            <% if (!review.isDelete) { %>
            <div class="ui">
                <div class="ui three column very relaxed grid ">
                    <div class="column">
                        <% for( let index = 0; index < review.rating; index++ ) { %>
                        <i class="star outline yellow icon"></i>
                        <% } %>
                    </div>
                    <div class="column">
                        <%=review.body%>
                    </div>
                    <div class="column">
                        <form action="/campgrounds/<%=campGround._id%>/reviews/<%=review._id%>?_m=DELETE" method="post">
                            <button class="ui icon red button">
                                <i class="trash icon"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
            <% } %>
            <% }) %>
        </div>
    </div>
    <div class="five wide column">
        <div class="row campground_details_row">
            <%= campGround.description %>
        </div>
        <div class="ui divider"></div>
        <div class="row campground_details_row">
            UST <%= campGround.price %>.00 per night
        </div>
        <div class="ui divider"></div>
        <% if (currentUser && campGround.author.equals(currentUser)) { %> <!-- checks if user is logged in and if the logged in currentUser is the author -->
            <div class="row ui buttons campground_details_row">
                <form method="get" action="/campgrounds/<%= campGround._id %>/edit">
                    <button class="ui labeled icon orange button">
                        <i class="pen nib icon"></i>
                        Edit
                    </button>
                </form>
                <div class="or" data-text="or"></div>
                <form method="post" action="/campgrounds/<%= campGround._id %>/?_m=DELETE">
                    <button class=" ui right labeled icon red button">
                        <i class="trash icon"></i>
                        Delete
                    </button>
                </form>
            </div>
            <div class="ui divider"></div>
        <% } %>
        <!-- <div class="row campground_details_row"> -->
        <% if (currentUser) { %>
            <div class="ui basic segment">
                <h4>Review</h4>
                <form class="ui form review" method="post" action="/campgrounds/<%= campGround._id %>/reviews">
                    <!-- <div class="ui labeled ticked slider" name="rating" value=>
                    </div> -->
                    <div class="required field">
                        <label>Price</label>
                        <input type="range" min="1" max="5" value="3" name="review[rating]">
                    </div>
                    <div class="required field">
                        <label>Description</label>
                        <textarea name="review[body]" rows="5" autofocus></textarea>
                    </div>
                    <button class="circular ui icon button">
                        <i class="icon pencil alternate"></i>
                        Submit
                    </button>
                    <div class="ui error message"></div>
                </form>
            </div>
        <% } %>
    </div>
</section>