<% layout('./layouts/boilerplate') -%>
<section class="ui basic segment">
    <h1 class="ui header">Edit <%= campGround.title %></h1>
</section>
<div class="ui divider"></div>
<section class="ui grid basic segment">
    <div class="ui row">
        <div class="ui basic segment ten wide column">
            <form class="ui form campground" method="post" action="/campgrounds/<%= campGround._id %>/edit?_m=PUT">
                <div class="required field">
                    <label>Title</label>
                    <input type="text" name="campground[title]" placeholder="Title" value="<%= campGround.title %>" autofocus>
                </div>
                <div class="required field">
                    <label>Location</label>
                    <input type="text" name="campground[location]" placeholder="City, State"
                        value="<%= campGround.location %>">
                </div>
                <div class="required field">
                    <label>Image URL</label>
                    <input type="text" name="campground[image]" placeholder="Image URL" value="<%= campGround.image %>">
                </div>
                <div class="required field">
                    <label>Price</label>
                    <div class="ui right labeled fluid input">
                        <label for="campground[price]" class="ui label">UST</label>
                        <input type="text" name="campground[price]" placeholder="0" value="<%= campGround.price %>">
                    </div>
                </div>
                <div class="required field">
                    <label>Description</label>
                    <textarea name="campground[description]" rows=10"><%= campGround.description %></textarea>
                </div>
                <button type="submit" class="ui labeled icon inverted green button">
                    <i class="right arrow icon"></i>
                    Submit
                </button>
                <a href="/campgrounds/<%=campGround._id %>" class="ui labeled icon inverted red button">
                    <i class="times circle outline icon"></i>
                    Cancel
                </a>
                <div class="ui error message"></div>
            </form>
        </div>
    </div>
</section>